/* Define your CSS styles here */
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */
::selection{color:inherit;}

body{
  background-color: #33FFD3; 
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.key{
  font-family: Futura;
  color:#FFFFFF;
  width: 50px; height:50px;
  display:block;
  background-color:#333;
  text-align: center;
  line-height: 45px;
  border-radius:9px;
  padding-left: 8px;
  float:left; margin-left: 5px;
  margin-bottom:5px;
  cursor: pointer;
  transition: box-shadow 0.7s ease;
}
.keyboard{
  width:910px; height: 320px;
  background-color: #111;
  margin: 0px auto; 
  border-radius: 9px;
  padding: 30px;
  color: #eee;
}

.tab{
	width: 105px; line-height: 40px;
}
.shift{
	width: 90px; 
	line-height: 50px;
	background-color: #3286AD;

}
.enter{
	width: 110px;
	background-color: #3286AD;
	line-height: 50px;
}
.acceptcancel{
	width: 130px;
	background-color: #3286AD;
	line-height: 50px;
}
.spacebar{
	width: 420px;
	line-height: 50px;

}
.section-a{width:890px; height:1000px; float:left;}
.section-b{width:1000px; height:1000px; float:left; margin-left: -30px; }
.section-c{width: 1000px; height: 1000px; float: left; margin-left: 70px;}
.section-d{width: 1000px; height: 1000px; float: left; margin-left: -10px;}
.section-e{width: 1000px; height: 1000px; float: left; margin-left: 75px;}
.key:active{background-color:#14B524; z-index:1000;}


